//main page index
extends ../includes/masterlayout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Multivision
                    h6 - Extreme Tech Training
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/courses") Courses

                    //-li
                    //-    a(href="/") View
                    //-li
                    //-    a(href="/") About
                div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)

    footer.container.text-center
        p 2014 - borntorun demo Multivision
